<section class="about" id="about">
    <div class="about_container">
        <h1 class="section-title" data-aos="fade-up" data-aos-duration="3000">about us</h1>
        <div class="about_content">
            <div class="article">
                <h4 data-aos="zoom-in-right" data-aos-duration="3000">{{home.about}}</h4>
                <p data-aos="zoom-in-left" data-aos-duration="3000">{{home.about2}}</p>
            </div>
        </div>
        <div class="about_img" data-aos="zoom-in-down" data-aos-duration="3000">
            <div class="abt_img">
                <img src="{{home.about_img.url}}" alt="">
            </div>
        </div>
    </div>
</section>