{% extends 'base.html' %}


{% block title %} Password reset confirm {% endblock title %}

{% block header %} {% include 'reg_header.html' %}{% endblock header %}

{% block content %}
<div class="reg">
  <div class="container">
      <div class="form_box">
          <h1>Confirm pasword<span id="title"> reset</span></h1>
          <form action="" method="POST">
              <p class="resetnew">Please enter new password.</p>
              <div class="input_group4">
                {% csrf_token %}
                  {{ form.as_p }}
              </div>
              <div class="btn_field2">
                  <button type="button" id="signinbtn" >Confirm Password Reset</button>
              </div>
          </form>
      </div>
  </div>
</div>
      
{% endblock content %}

{% block footer %} {% include 'footer.html' %}{% endblock footer %}