{% extends 'base.html' %}


{% block title %} Password Reset Complete{% endblock title %}

{% block header %} {% include 'reg_header.html' %}{% endblock header %}

{% block content %}
<div class="reg">
  <div class="container">
      <div class="resetcompt">
          <h1>Reset <span id="title">Complete</span></h1>
          <form action="{% 'signup' %}" method="POST" id="form2">
              <div class="input_group3"> 
                  <p>Password reset complete! Your password has been reset, you may log in now.</p>
              </div>
              <div class="btn_field5">
                  <a type="button">Employer</a>
                  <a type="button">Applicant</a>
              </div>
          </form>
      </div>
  </div>
</div>
{% endblock content %}

{% block footer %} {% include 'footer.html' %}{% endblock footer %}