{% extends 'base.html' %}
{% load humanize %}
{% block title %}  Applicant Dashboard {% endblock title %}

<!-- header  -->            
<!-- header done -->

{% block content %}
      <div class="employerr">
        <div class="container">
            {% include 'sidebar.html' %}
            <section class="main newmainn">
                <p class="jop"> Hello <span>{{profile.first_name|title}}!</span></p>
                <div class="main_top">
                    <p>explore comforter jobs</p>
                </div>
                {% include 'applicant_search.html' %}
                
                <div class="main_body">
                    <section class="job-list" id="jobs">
                        {% include 'notice.html' %}
                        
                        {% if alljobs %}
                            {% for job in alljobs %}                                
                                <div class="job-card">
                                    <div class="job-name">
                                        <img src="{{job.employer_profile.employer_logo.url}}" class="job-profile">
                                        <div class="job-detail">
                                            <h4>{{job.employer_profile.company_name|title}}</h4>
                                            <h3>{{job.job|title}}</h3>
                                            <p>{{job.role|title}}</p>
                                        </div>
                                    </div>
                                    <div class="job-label">                                        
                                        {% if job.job_open %}                                           
                                            <a  class="label-b">open</a>                                       
                                            <a href="{% url 'applicants:applicant_job' job.slug %}" class="label-c">apply</a>                                                                                          
                                        {% else %}
                                            <a class="label-a">application closed</a>                                         
                                        {% endif %}                                            
                                    </div>
                                    <div class="job-posted">
                                        <span>posted</span>  {{job.publish_date|naturaltime}}  <br> 
                                        <span>deadline</span>  {{job.deadline}} 
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h2>Jobs are not available at the moment</h2>
                        {% endif %}                                                
                        <a href="{% url 'applicants:applicant_all_jobs' %}" class="job-more">more jobs</a>
                    </section>
                </div>
            </section>
        </div>
    </div>
{% endblock content %}

<!-- footer  -->        
{% block footer %} {% include 'footer.html' %} {% endblock footer %}            
<!-- footer done -->
    