{% extends 'base.html' %}

{% block title %}  My Profile {% endblock title %}



{% block content %}
<div class="employerr">
    <div class="container">
        {% include 'sidebar_profile.html' %}
        <section class="main">
            <p class="jop"> Hello {{profile.first_name|title}}!</p>
            <div class="main_top">
                <p>my profile</p>
            </div>
            {% include 'appli_popup.html' %}
            <div class="main_body applii_form">
                <div class="appli_form">
                    <form action="{% url 'applicants:profile_update3' %}" method="POST">
                    {% csrf_token %}                           
                        <div class="resume">
                            <div class="res">
                                <h2>health history</h2>
                                <hr>
                            </div>
                        </div>
                        <div class="line_select line_ppp">
                            <p>
                                Do you have any physical, medical or mental disability
                                which could prevent you from performing a specific duty?
                            </p>
                            <select value="{{profile3.first_name|title}}" name="disability">
                                <option value="female">no</option>
                                <option value="male">yes</option>
                            </select>
                        </div>
                        <div class="line">
                            <label for="">if yes state the disability</label>
                            <input type="text" value="{{profile3.state_disability|title}}" name="state_disability">
                        </div>
                        <div class="line_select">
                            <label for="">do you use glasses?</label>
                            <select value="{{profile3.use_glasses|title}}" name="use_glasses">
                                <option value="female">no</option>
                                <option value="male">yes</option>
                            </select>
                        </div>
                        <div class="line_select">
                            <label for="">do you smoke?</label>
                            <select value="{{profile3.do_you_smoke|title}}" name="do_you_smoke">
                                <option value="female">no</option>
                                <option value="male">yes</option>
                            </select>
                        </div>
                        <div class="line_select">
                            <label for="">do you take alcohol?</label>
                            <select value="{{profile3.take_alcohol|title}}" name="take_alcohol">
                                <option value="female">no</option>
                                <option value="male">yes</option>
                            </select>
                        </div>
                        <div class="line_select">
                            <label for="">are you on any prescription drugs or medication?</label>
                            <select value="{{profile3.on_medication|title}}" name="on_medication">
                                <option value="female">no</option>
                                <option value="male">yes</option>
                            </select>
                        </div>
                        <div class="line">
                            <label for="">if yes state the name of the drug or medicine </label>
                            <input type="text" value="{{profile3.medicine_name|title}}"  name="medicine_name">
                        </div>
                        <div class="line_select">
                            <label for="">what is your blood group?</label>
                            <select value="{{profile3.blood_group|title}}" name="blood_group">
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB+-">AB+</option>
                               <option value="AB-">AB-</option>
                               <option value="O+">O+</option>
                               <option value="O-">O-</option>
                            </select>
                        </div>
                        <div class="line_select">
                            <label for="">what is your genotype?</label>
                            <select value="{{profile3.genotype|title}}" name="genotype">
                                <option value="AA">AA</option>
                                <option value="AC">AC</option>
                                <option value="AS">AS</option>
                                <option value="SS">SS</option>
                            </select>
                        </div>
                        <div class="resume">
                            <div class="res">
                                <h2>educational background </h2>
                                <hr>
                            </div>
                        </div>
                        <div class="line">
                            <label for="">school/institution attended</label>
                            <input type="text" value="{{profile3.school_attended|title}}" name="school_attended">
                        </div>
                        <div class="line_select">
                            <label for="">can you read?</label>
                            <select value="{{profile3.can_you_read|title}}" name="can_you_read">
                                <option value="female">no</option>
                                <option value="male">yes</option>
                            </select>
                        </div>
                        <div class="line_select">
                            <label for="">can you write?</label>
                            <select value="{{profile3.can_you_write|title}}" name="can_you_write">
                                <option value="female">no</option>
                                <option value="male">yes</option>
                            </select>
                        </div>
                        <div class="line_select">
                            <label for="">can you speak english fluently?</label>
                            <select value="{{profile3.speak_fluently|title}}" name="speak_fluently">
                                <option value="female">no</option>
                                <option value="male">yes</option>
                            </select>
                        </div>
                        <div class="line">
                            <label for="">state any other language you speak</label>
                            <input type="text" value="{{profile3.language_spoken|title}}" name="language_spoken">
                        </div>
                        <div class="resume">
                            <div class="res">
                                <h2>spouse or friends data  </h2>
                                <hr>
                            </div>
                        </div>
                        <div class="line">
                            <label for="">fullname</label>
                            <input type="text" value="{{profile3.spouse_name|title}}" name="spouse_name">
                        </div>
                        <div class="line">
                            <label for="">no of children</label>
                            <input type="number" value="{{profile3.no_children|title}}" name="no_children">
                        </div>
                        <div class="line">
                            <label for="">residential address</label>
                            <input type="text" value="{{profile3.spouse_address|title}}" name="spouse_address">
                        </div>
                        <div class="line">
                            <label for="">nearest bus stop</label>
                            <input type="text" value="{{profile3.spouse_bstop|title}}" name="spouse_bstop">
                        </div>
                        <div class="line">
                            <label for="">phone number</label>
                            <input type="text" value="{{profile3.spouse_phone|title}}" name="spouse_phone">
                        </div>
                        <div class="resume">
                            <div class="res">
                                <h2>reference</h2>
                                <hr>
                            </div>
                        </div>
                        <div class="line_pp">
                            <p>Must be a family member or relative 
                                that is close to you who should be able to
                                testify to your character
                            </p>
                        </div>
                        <div class="line">
                            <label for="">full name</label>
                            <input  type="text" value="{{profile3.family_name|title}}" name="family_name">
                        </div>
                        <div class="line">
                            <label for="">residential address</label>
                            <input  type="text" value="{{profile3.family_address|title}}" name="family_address">
                        </div>
                        <div class="line">
                            <label for="">occupation </label>
                            <input type="text" value="{{profile3.family_occupation|title}}" name="family_occupation">
                        </div>
                        <div class="line">
                            <label for="">phone number</label>
                            <input type="text" value="{{profile3.family_phone|title}}" name="family_phone">
                        </div>
                        <div class="personal">
                            <p>personal reference</p>
                            <hr>
                        </div>
                        <div class="line">
                            <label for="">full name</label>
                            <input  type="text" value="{{profile3.reference_name|title}}" name="reference_name">
                        </div>
                        <div class="line">
                            <label for="">residential address</label>
                            <input  type="text" value="{{profile3.reference_address|title}}" name="reference_address">
                        </div>
                        <div class="line">
                            <label for="">occupation </label>
                            <input type="text" value="{{profile3.reference_occupation|title}}" name="reference_occupation">
                        </div>
                        <div class="line">
                            <label for="">phone number</label>
                            <input type="text" value="{{profile3.reference_number}}" name="reference_number">
                        </div>
                        <div class="line_p newest_line_p">
                            <p>
                                I <input type="text" value="{{profile3.attest|title}}" name="attest"  placeholder="Attest here"> have carefully read 
                                the terms and conditions of <span>comforter.s.c.limited</span> and hereby agree
                                with all the conditions stipulated and i will give two or one month notice 
                                before leaving the place of work.
                            </p>
                        </div>
                        <div class="line_btn">
                            <button type="submit">Update</button>
                        </div>
                    </form>                         
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock content %}

<!-- footer  -->        
{% block footer %} {% include 'footer.html' %} {% endblock footer %}            
<!-- footer done -->
    