{% extends 'base.html' %}

{% block title %}  My Profile {% endblock title %}



{% block content %}
<div class="employerr">
    <div class="container">
        {% include 'sidebar_profile.html' %}
        <section class="main">
            <p class="jop"> Hello {{profile.first_name|title}}!</p>
            <div class="main_top">
                <p>my profile</p>
            </div>
            {% include 'appli_popup.html' %}
            <div class="main_body applii_form">
                <div class="appli_form">
                    <form action="{% url 'applicants:profile_update2' %}" method="POST">
                    {% csrf_token %}
                        <div class="resume">
                            <div class="res">
                                <h2>job prospect</h2>
                                <hr>
                            </div>
                        </div>
                        <div class="line">
                            <label for="">post applied for</label>
                            <input type="text" value="{{profile2.post_applied_for|title}}"  name="post_applied_for">
                        </div>
                        <div class="line">
                            <label for="">years of experience</label>
                            <input type="number" value="{{profile2.years_of_experience}}" name="years_of_experience">
                        </div>
                        <div class="line">
                            <label for="">how long do you intend to work?</label>
                            <input type="text" value="{{profile2.intended_time_to_work}}" name="intended_time_to_work">
                        </div>
                        <div class="line">
                            <label for="">salary expectation?</label>
                            <input type="text" value="# {{profile2.expected_salary}}" name="expected_salary">
                        </div>
                        <div class="line_select">
                            <label for="">have you ever been convicted?</label>
                            <select value="{{profile2.ever_convicted|title}}" name="ever_convicted">
                                <option value="no">no</option>
                                <option value="yes">yes</option>
                            </select>
                        </div>
                        <div class="line">
                            <label for="">how do you want your off? </label>
                            <input type="text" value="{{profile2.your_off_days|title}}" name="your_off_days">
                        </div>
                        <div class="line">
                            <label for="">travel period</label>
                            <input type="text" value="{{profile2.travel_period|title}}" name="travel_period">
                        </div>
                        <div class="line">
                            <label for="">reason for travel</label>
                            <input type="text" value="{{profile2.travel_period_reason|title}}" name="travel_period_reason">
                        </div>
                        <div class="line">
                            <label for="">how did you know about comforter</label>
                            <input type="text" value="{{profile2.how_did_you_know_us|title}}" name="how_did_you_know_us">
                        </div>
                        <div class="line">
                            <label for="">name / phone number</label>
                            <input type="text" name="name_phone" value="{{profile2.name_phone}}">
                        </div>
                        <div class="resume">
                           <div class="res">
                                <h2>section II - employment history</h2>
                                <p>state most recent employer</p>
                                <hr>
                           </div>
                        </div>
                        <div class="line">
                            <label for="">employer  address</label>
                            <input type="text" name="employer_address" value="{{profile2.employer_address|title}}">
                        </div>
                        <div class="line">
                            <label for="">employer  name</label>
                            <input type="text" name="employe_name" value="{{profile2.employe_name|title}}">
                        </div>
                        <div class="line">
                            <label for="">company  name</label> 
                            <input type="text" name="company_name" value="{{profile2.company_name|title}}">
                        </div>
                        <div class="line">
                            <label for="">company  phone</label>
                            <input type="text" name="employer_phone" value="{{profile2.employer_phone}}">
                        </div>
                        <div class="line">
                            <label for="">work type</label>
                            <input type="text" name="work_type" value="{{profile2.work_type|title}}">
                        </div>
                        <div class="line_select">
                            <label for="">work type</label>
                            <select value="{{profile2.work_type|title}}" name="work_type">
                                <option value="full time">full time</option>
                                <option value="part time">part time</option>
                            </select>
                        </div>
                        <div class="line">
                            <label for="">state reasons for leaving?</label>
                            <input type="text" name="resign_reason" value="{{profile2.resign_reason|title}}">
                        </div>
                        <div class="line">
                            <label for="">did you register with any agent before?</label>
                            <input type="text" name="register_with_agent" value="{{profile2.register_with_agent|title}}">
                        </div>
                        <div class="line">
                            <label for="">name / phone number?</label>
                            <input type="text" name="agent_phone" value="{{profile2.agent_phone}}">
                        </div>
                        <div class="line">
                            <label for="">address</label>
                            <input type="text" name="agent_address" value="{{profile2.agent_address|title}}">
                        </div>
                        <div class="line_btn">
                            <button type="submit">Update</button>
                        </div>
                    </form>                         
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock content %}

<!-- footer  -->        
{% block footer %} {% include 'footer.html' %} {% endblock footer %}            
<!-- footer done -->
    