{% extends 'base.html' %}

{% block title %}  Password Change {% endblock title %}



{% block content %}
<div class="employerr">
    <div class="container">
        {% include 'sidebar_profile.html' %}
        <section class="main">
            <p class="jop"> Hello {{profile.first_name|title}}!</p>
            <div class="main_top">
                <p>change password</p>
            </div>
            {% include 'appli_popup.html' %}
            <div class="main_body applii_form">
                <div class="appli_form">
                    <form action="{% url 'applicants:applicant_password' %}" method="POST" autocomplete="new_password1"> 
                    {% csrf_token %}
                        <div class="line">
                            <label for="">old password</label>
                            <input  type="password" value="mars" name="old_password" autocomplete="new_password1">
                        </div>
                        <div class="line">
                            <label for="">new password</label>
                            <input type="password" value="marshal" name="new_password1" autocomplete="new_password1">
                        </div>
                        <div class="line">
                            <label for="">new password again</label>
                            <input type="password" value="female" name="new_password2" autocomplete="new_password1">
                        </div>
                        <div class="line_btn">
                            <button type="submit">update password</button>
                        </div>
                    </form> 
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock content %}

<!-- footer  -->        
{% block footer %} {% include 'footer.html' %} {% endblock footer %}            
<!-- footer done -->
    