{% extends 'base.html' %}
{% load humanize %}

{% block title %}  Employer Dashboard {% endblock title %}



{% block content %}

<div class="employer">
    <div class="container">
        {% include 'emp_sidebar.html' %}        
        <section class="main">
            <div class="main_top">
                <p>explore comforter job applicants shortlisted</p>
            </div>
            {% include 'appli_popup.html' %}             
            <div class="main_body">
                <h3><a href="#">{{emprofile.company_name|title}} shortlisted applicants</a></h3>
                <div class="notice">
                    <p>All applicants are well trained before they get recomended for employment</p>
                    <p>Do note that any role outside the stated job description  will not be allowed.</p>
                </div>
                {% include 'employer_search.html' %}
                <div class="tags_bar">
                    <div class="tag">
                        <i class="fas fa-times-circle"></i>
                            <span>hospitality</span>                            
                    </div>
                    <div class="tag">
                        <i class="fas fa-times-circle"></i>
                            <span>caregiver</span>                            
                    </div>
                    <div class="tag">
                        <i class="fas fa-times-circle"></i>
                            <span>health workers</span>                            
                    </div>
                    <div class="tag">
                        <i class="fas fa-times-circle"></i>
                            <span>management</span>                            
                    </div>
                </div>
                {% include 'emnotice.html' %}
                
                {% if all_jobs %}                    
                    {% for job in all_jobs %}
                        <div class="job_card">
                            <div class="job_details">
                                <div class="img">
                                    <img src="{{job.general_information.image.url}}" class="job-profile">
                                </div>
                                <div class="text">
                                    <h2>{{job.general_information.first_name|title}}</h2>
                                    <span>{{job.job|title}} </span>
                                    <a class="textaa" href="{% url 'employers:view_applicant' job.slug %} ">view</a>
                                </div>      
                            </div>
                            <div class="job_salary">
                                <h4>#{{job.salary_expected}}</h4>
                                <span>Applied {{job.applied_date|naturaltime}}</span>
                            </div>
                            <div class="job_hired">
                                <div class="job_status" id="hide1">
                                    <form action="{% url 'employers:hire_applicant' job.slug %}" method="POST">  
                                    {% csrf_token %}      
                                    <input type="hidden" name="applicant_slug" value="{{job.slug}}"> 
                                        <button class="resign" type="submit">hire candidate</button>                                       
                                    </form>
                                </div>
                                <div class="job_status" id="hide2">
                                    <form action="{% url 'employers:decline_applicant' job.slug %}" method="POST">                                        
                                    {% csrf_token %}
                                        <button class="terminate" type="submit">decline</button>                               
                                    </form>
                                </div>
                                <div class="job_status" id="hide">
                                    <h4>{{job.shortlisted_date|naturaltime}}</h4>
                                </div>
                            </div>                        
                        </div>
                    {% endfor %}
                    <!-- pagination  -->
                    {% include 'employer_pagination.html' %}
                    <!-- pagination done --> 
                {% else %}
                    <div class="nonyet">
                        <div class="nonatall">                           
                            <h2>No applicants shortlisted at the moment</h2>
                        </div>                    
                    </div> 
                {% endif %}                
            </div>
        </section>
    </div>
</div>

{% endblock content %}

<!-- footer  -->        
{% block footer %} {% include 'footer.html' %} {% endblock footer %}            
<!-- footer done -->
    