{% extends 'base.html' %}

{% block title %}  Employer Password Update{% endblock title %}



{% block content %}

<div class="employer">
    <div class="container">
        {% include 'emp_sidebar.html' %}        
        <section class="main">
            <div class="main_top">
                <p>explore comforter job applications</p>
            </div>
            {% include 'appli_popup.html' %}
            <div class="main_body">
                <h3><a href="#">{{emprofile.company_name|title}} password update</a></h3>
            <div class="notice">
                <p>All applicants are well trained before they get recomended</p>
            </div>
            <div class="applii_form">
                <div class="appli_form">
                    <form action="{% url 'employers:employer_password' %}" method="POST">
                    {% csrf_token %} 
                        <div class="line">
                            {{form.old_password}}
                        </div>
                        <div class="line">
                            {{form.new_password1}}
                        </div>
                        <div class="line">
                            {{form.new_password2}}
                        </div>
                        <div class="line_btn">
                            <button type="submit">update password</button>
                        </div>
                        <div class="password_field" id="settingsField"> 
                            <ul>
                                <li>Your password can't be too similar to your email.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can't be a commonly used password.</li>
                                <li>Your password can't be entirely numbers.</li>
                            </ul>
                        </div>
                    </form>                
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock content %}

<!-- footer  -->        
{% block footer %} {% include 'footer.html' %} {% endblock footer %}            
<!-- footer done -->
    