{% extends 'base.html' %}
{% load static %}
{% block title %} Employer SignUp {% endblock title %}

<!-- header  -->
{% block header %}{% include 'reg.html' %}{% endblock header %}            
<!-- header done -->

{% block content %}
<div class="reg">
    <div class="container" id="regsignup">
        <div class="form_box">
            <h1>Employer <span id="title">SignUp</span></h1>
            <form action="{% url 'accounts:employersignup' %}" method="POST" id="newreg">
            {% csrf_token %}
                <div class="regput">
                    <!-- <div class="input_field" id="nameField">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="text" class="reg_input" name="company_name" placeholder="Company Name">
                    </div>  -->
                    <div class="input_field">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input type="email" class="reg_input" name="email" placeholder="Email Address">                        
                    </div>
                    <div class="input_field">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input type="password"  name="password1" class="reg_input" placeholder="Password"> 
                    </div>
                    <div class="input_field" id="password2Field">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input type="password" class="reg_input" name="password2" placeholder="Repeat Password">                                                                    
                    </div>
                    <div class="password_field" id="settingsField"> 
                        <ul>
                            <li>Your password can't be too similar to your email.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can't be a commonly used password.</li>
                            <li>Your password can't be entirely numbers.</li>
                        </ul>
                    </div>
                    <p>forgot password? <a href="#">click here</a></p>
                    
                </div>
                <div class="btn_field">
                    <button type="button"><a href="{% url 'accounts:employersignin' %}">sign in</a></button>
                    <button type="submit">sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    {% if messages %}    
        {% for message in messages %}
        <div class="popup" id="popup" style="padding-top: 2rem;">
            {% comment %} <img class="pop_img" src="{% static '' %}img/alert.jpg"> {% endcomment %}
            <p>{{message}}.</p>
            <button class="btn" type="submit" onclick="closePopup()">ok</button>
        </div>
        {% endfor %}    
    {% endif %}
</div>
{% endblock content %}

<!-- footer  -->        
{% block footer %} {% include 'footer.html' %} {% endblock footer %}            
<!-- footer done -->
    